@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");





.bgcolor {
    background-color: #6b9080;
}
.wrapper-main {
    width: 1000px;
}
.swiper {
    width: 100%;
    display: block;
  }
/*Responsive Website between major breakpoint*/
@media only screen and(max-width: 600px) {
    .wrapper-main{
        width: 100%;
    }
    
}
@media only screen and (min-width: 601px) {
    .wrapper-main{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .wrapper-main{
        width: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .wrapper-main{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .wrapper-main{
        width: 100%;
    }
}



/*Typewriting Element*/
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #6b9080; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.0s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 45% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6b9080; }
  }
  /*Typewriting Element*/